#root, html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

h1.heading {
  font-size: 1.8em;
  font-weight: 300;
}

.app {
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('./images/tulips.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background-color: whitesmoke;
  width: 60%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2%;
}

.heading {
  display: flex;
  align-items: center;
  height: 135px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Quicksand', Arial, sans-serif
}

.btn-small {
  background-color: #b43163;
}

.btn-small:hover {
  background-color: #8a1542;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    height: 30%;
  }

  h1.heading {
    font-size: 1.2em;
  }

  .heading{
    height: 100px;
  }
}